.header {
    background-color: #101010;
    color: white;
    font-family: "Lato", sans-serif;
}

.inner-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.inner-header h1 {
    display: flex;
    padding: 0 0 0 40px;
    height: 99%;
    margin-bottom: 1px;
}

.header .inner-header .navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    background-color: #101010;
    text-decoration: none;
    margin: 0;
}

.inner-header ul {
    margin: 0;
}

#chat-log {
    height: 400px;
    background-color: #FFFFFF;
    resize: none;
    width: 100%;
    min-width: 524px;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a li:hover{
    color: #95b2f1;
    text-decoration: underline;
    text-decoration-color: blue;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}



.block_photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block_username {
    display: flex;
    flex-direction: column;
}

.img_photo {
    max-width: 300px;
}

.main_rooms {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    border-width: thin;
    border-style: solid;
    border-color: grey;
}

.main_rooms .n_list_rooms {
    width: 25%;
    min-width: fit-content;
    border-width: thin;
    border-style: solid;
    border-color: grey;
    padding: 10px;
}

.main_rooms .l_private_rooms {
    list-style-type: disclosure-closed;
}

.as_room_detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    min-width: fit-content;
    border-width: thin;
    border-style: solid;
    border-color: grey;
    padding: 30px 10px;
}


.hidden {
  display: none;
}

.sec_room {
    min-height: 200px;
    padding-top: 30px;
}

.sec_members {
    border-width: thin;
    border-style: solid;
    border-color: grey;
    background-color: #e0e0e0;
    font-size: 22px;
}


@keyframes change_opacity_fast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes change_opacity_blinked {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.room_options_fast {
    animation: change_opacity_fast 0.7s;
}

.room_options_blinked {
    animation: change_opacity_blinked 2s;
}